.main-nav{
    background-color: #F06C22;
    color: #fff;
}
.logo-food{
    color: green;
    text-transform: uppercase;
}
.orange{
    color:#F06C22;
}
.active{
    color: #fff !important;
    font-weight: bold;
}
.nav-link-item a{
    text-decoration: none;
    margin-right: 10px;
    color: black;
}
.user-details-container{
    display: flex;
}
.user-profile-name{
    display: none;
}
.user-profile-icon{
    display: flex;
    align-items: center;
}
.user-profile-icon:hover .user-profile-name{
    display: block;
}