.main-nav{
    background-color: #F06C22;
    color: #fff;
}
.logo-food{
    color: green;
    text-transform: uppercase;
}
.orange{
    color:#F06C22;
}
.active{
    color: #fff;
    font-weight: bold;
}